@model IEnumerable<NinjaModel>

@{
    ViewData["Title"] = "Ninjas";
}

<h1>Ninjas (@Model.Count())</h1>

<div>
    <a asp-action="Create" asp-controller="Ninja" class="btn btn-success mb-3">Nieuwe Ninja Toevoegen</a>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Goud</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && !Model.Any())
        {
            <tr>
                <td colspan="5">Geen ninjas gevonden.</td>
            </tr>
        } else
        {
            foreach (var ninja in Model)
            {
                <tr>
                    <td>@ninja.NinjaId</td>
                    <td>@ninja.Name</td>
                    <td>@ninja.Gold</td>
                </tr>
            }
        }
    </tbody>
</table>