@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NinjaManager</h1>
    <p>Build your own ninja with unique stats by mixing and matching equipment!</p>

    <a asp-action="Index" asp-controller="Ninja" class="btn btn-primary">Let's Go!</a>
</div>
